<div class="App">
  <header class="App-header">
    <div class="row container">
      <div class="col-md-6" >
        <span>
        <img src="/assets/logo.svg" class="App-logo" alt="logo" /></span>
        <div>
        <a class="App-link" href="https://angular.io" target="_blank" rel="noopener noreferrer">
          News Corp
        </a>
      </div>
        <p>Presenting Your Local News</p>
      </div>
      <div class="col-md-6">
        <app-weather-widget></app-weather-widget>
      </div>
    </div>
  </header>
  <main class="App-main">
    <h1>Recent News Stories</h1>
    <app-article title="Nulla nec aliquam lorem, dignissim">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec
        ullamcorper tellus, id tempus lectus. Aenean nisl mauris, ornare at
        magna a, porttitor feugiat ante. Vestibulum dictum lacus aliquam,
        auctor nibh vel, cursus augue. Morbi tempus in nulla non congue.
        Suspendisse ultricies, erat quis porttitor hendrerit, nunc mi tempor
        lectus, rhoncus venenatis nisl leo ut nisi. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Etiam tempus eros neque, sit amet dictum lectus blandit
        vel. Nunc commodo lectus orci, vitae laoreet nisi iaculis in. Etiam
        placerat blandit malesuada. Mauris vulputate, dolor a laoreet
        tristique, lacus lorem bibendum neque, vitae tristique leo lacus ac
        orci. Pellentesque tellus metus, facilisis nec ullamcorper vitae,
        gravida at diam. Donec rutrum varius ex, vel semper ex tempor eget.
        In hac habitasse platea dictumst.
      </p>
      <p>
        Mauris non laoreet est. Cras augue lacus, ornare id ullamcorper et,
        hendrerit sed elit. Donec rutrum dui sem, id porta enim laoreet ut.
        Cras euismod lectus a feugiat gravida. Cras sit amet vestibulum
        justo, quis lobortis dui. Nullam pharetra malesuada euismod. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Etiam ac libero egestas, laoreet dui ut, lacinia
        metus. Maecenas ac laoreet ipsum, eget ultricies mi. Integer blandit
        ipsum a pellentesque dignissim. Maecenas efficitur maximus placerat.
        Nulla nibh neque, pulvinar sit amet eros ut, tincidunt facilisis ex.
        Duis nibh ante, dignissim sed suscipit sit amet, viverra ut neque.
      </p>
    </app-article>
    <app-article title="Fusce non leo">
      <p>
        Praesent semper consequat ex eget tincidunt. Quisque a dictum justo.
        In a justo nec lacus feugiat interdum. Donec vulputate consequat
        leo, a eleifend metus feugiat in. Phasellus vulputate lorem id mi
        cursus auctor. Suspendisse potenti. Quisque sit amet mauris a orci
        faucibus vehicula ac et elit. Vivamus tempor malesuada libero.
        Vivamus in augue ex. Sed mollis sit amet magna eu fringilla.
        Vestibulum luctus erat vel nibh posuere, sed suscipit nibh
        dignissim. Aliquam erat volutpat. Donec vitae eros at felis suscipit
        viverra nec nec diam.
      </p>
      <p>
        Vestibulum nunc turpis, vehicula vel nunc et, sagittis tempus risus.
        Quisque gravida urna at nibh blandit, quis pellentesque odio
        interdum. Nullam eleifend enim semper arcu faucibus, id molestie
        nibh volutpat. Proin quis consequat erat. Vestibulum dictum suscipit
        pretium. Donec rutrum nisi sit amet leo commodo, ac luctus diam
        aliquet. Aliquam nec euismod nisi. Duis auctor pulvinar enim, eget
        ullamcorper nibh malesuada sit amet.
      </p>
    </app-article>
  </main>
</div>